<h1 mat-dialog-title>Create New Product</h1>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name" placeholder="Product Name">
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="description" placeholder="Product Description">
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="price" placeholder="Product price" type="number">
  </mat-form-field>
</p>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onConfirm()" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</div>
