<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button *ngIf="card.id === 1" mat-menu-item (click)="addNew()">Add New</button>
              <button *ngIf="card.id === 2" mat-menu-item (click)="showOrders()">View Orders</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="overflow-y: auto; height: 94%">
          <div *ngIf="card.id === 1">
            <table *ngIf="products && products.length > 0" mat-table [dataSource]="products" style="width:90%; flex:auto">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element;index as i;"> {{i+1}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <!-- Price Column -->
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsProducts"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsProducts;"></tr>
            </table>
            <div *ngIf="!products || products.length <= 0" style="margin-top: 10em">
              <p>No products available</p>
              <p>(Please press the <u>more options button</u> to add new product)</p>
            </div>
          </div>
          <div *ngIf="card.id === 2">
            <table mat-table *ngIf="orders && orders.length > 0" [dataSource]="orders" style="width:90%; flex:auto">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element;index as i;"> {{i+1}} </td>
              </ng-container>

              <!-- Date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
              </ng-container>

              <!-- Product Column -->
              <ng-container matColumnDef="product">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let element"> {{element.products[0].name}} </td>
              </ng-container>

              <!-- Amount Column -->
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
              </ng-container>

              <!-- State Column -->
              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> State </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsOrders"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsOrders;"></tr>
            </table>

            <div *ngIf="!orders || orders.length <= 0" style="margin-top: 10em">
              <p>No Orders added</p>
              <p>(Please press the <u>more options button</u> to add new order)</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
