<h1 mat-dialog-title>Create New Order</h1>
<p>
  <mat-form-field appearance="fill">
    <mat-label>Product</mat-label>
    <mat-select [(ngModel)]="selectedProduct" name="Select Product" (selectionChange)="calculate()">
      <mat-option *ngFor="let product of data?.products" [value]="product">
        {{product.name}}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>shopping_bag</mat-icon>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="fill">
    <mat-label>Quantity</mat-label>
    <input matInput [(ngModel)]="quantity" placeholder="Select quantity" type="number" (focusout)="calculate()">
  </mat-form-field>
</p>

<div>
    <label>Amount</label>
    <h4>{{cost}}</h4>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onConfirm()" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</div>
