<h1 mat-dialog-title>Cancel Order</h1>
<div>
  <div>
      <label>Product</label>
      <h3>{{data?.products[0].name}}</h3>
  </div>

  <div>
      <label>State</label>
      <h3>{{data?.state}}</h3>
  </div>

  <div>
      <label>Amount</label>
      <h3>{{data?.amount}}</h3>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="dismiss()">Dismiss</button>
  <button mat-button mat-dialog-close (click)="confirmCancel(data)">Confirm</button>
</div>
