<div>
  <p>
    <mat-toolbar>
      <span style="flex: auto">Orders</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Add New Order">
        <mat-icon (click)="openDialog()">add</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Refresh Orders list">
        <mat-icon (click)="reload()">refresh</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Exit Orders list">
        <mat-icon (click)="exit()">close</mat-icon>
      </button>
    </mat-toolbar>
  </p>

  <mat-spinner *ngIf="loading" color="accent" style="position: absolute; top: 50%"></mat-spinner>

  <div class="mat-elevation-z8">
    <table mat-table class="full-width-table" matSort aria-label="Elements">

      <!-- Products Column -->
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Products</th>
        <td mat-cell *matCellDef="let row">{{row.products[0].name}}</td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
        <td mat-cell *matCellDef="let row">{{row.amount}}</td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
        <td mat-cell *matCellDef="let row" [ngStyle]="{'color': (row.state === 'delivered') ? '#73c7af' : (row.state === 'confirmed') ? '#ffa32b' : '#e91e63'}">
          {{row.state}}
        </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let row">{{row.date | date}}</td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button *ngIf="row.state !== 'cancelled'" mat-button (click)="cancelOrder(row)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator
                   [length]="dataSource?.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 20, 25, 50]">
    </mat-paginator>
  </div>
</div>

